div.Menu{
    float: left;
    padding: 4px 10px 4px 10px;
    text-align: center;
    cursor: default;
    color: white;
    background-color: #122A74;
    cursor: default;
}

div.MenuChild{
    background   : #CEDEEF; 
    border-right : 1px solid silver; 
    border-top   : 1px solid white;
    border-bottom: 1px solid silver;
    border-left  : 1px solid white;
    padding      : 2px;
    position     : absolute;
}

div.MenuItem,div.MenuItemSel{
    padding : 2px 20px 2px 20px;
    cursor  : default;
}

div.MenuItem{
    background-color: transparent;
    color           : black;
}

div.MenuItemSel{
    background-color: #316AC5;
    color           : white;
}                   

td.menubar,td#menubtn{
    border-bottom: 1px solid gray;
}
/*Area menu*/
td#menu{
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #4D4D4D;
    border-right: 1px solid #4E585A;
    background-color: #DEDED2;

}
/*Area desktop*/
td#main{
  border-top: 1px solid silver;
}
/*Titolo della sezione menu*/
div#menutit{
    background-color: black;
    padding: 5px;
    color  : white;
    font-size: 14px;
    font-family: Arial;
}
/*Menu container*/
div#menucnt{
    padding: 5px;
    overflow: hidden;
    background-color: #F8F6E7;
    margin: 5px 5px 5px 5px;
    width: 160px;
    border: 1px solid silver;            
}
/*Menu di primo livello*/
div.menufst{
   cursor: pointer;
   border: 1px solid #C8C6B7;
   background-color: #F1EFE0;            
   font-family: Arial;
   font-size  : 12px;
   font-weight: bold;
   width: 150px;
   padding: 1px 5px 1px 5px;
}

div.menusub{
   background-image : url(../img/ico/mgen.png);
   background-repeat: no-repeat;
   background-position: center left;
   cursor : pointer;
   padding: 3px 3px 3px 15px;
   margin-left: 20px;
   font-size: 11px;
   font-weight: bold;
}

